In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from mysql-connector-python) (3.20.1)

[notice] A new release of pip available: 22.1.2 -> 22.2.2
[notice] To update, run: pip install --upgrade pip

In [7]:
import mysql.connector as conn

In [8]:
mydb=conn.connect(host='localhost',user='root',password="12627@Dheeraj")

In [9]:
mydb

In [10]:
cursor=mydb.cursor()

In [11]:
cursor.execute("show databases")

In [12]:
cursor.fetchall()

[('dheeraj',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [13]:
cursor=mydb.cursor()

In [14]:
#to create a new data base
cursor.execute("create database dheeraj")

DatabaseError: 1007 (HY000): Can't create database 'dheeraj'; database exists

In [15]:
cursor.execute('create table dheeraj.basic(selfid INT(10),firstname VARCHAR(30),lastname VARCHAR(30),regid INT(10),classname VARCHAR(30))')

ProgrammingError: 1050 (42S01): Table 'basic' already exists

In [16]:
cursor.execute('use dheeraj')

In [17]:
cursor.execute("show tables")

In [18]:
cursor.fetchall()

[('basic',)]

In [20]:
cursor.execute('insert into dheeraj.basic values(12345,"dheeraj","kumar",233435,"basic")')

In [21]:
mydb.commit()

In [22]:
cursor.execute('insert into dheeraj.basic values(232323,"dk","kumar",434443,"fdsd")')

In [24]:
mydb.commit()

In [25]:
cursor.execute('insert into dheeraj.basic values(77457,"dheeru","kumar",744393,"fdsd")')

In [26]:
mydb.commit()

In [27]:
cursor.execute("select *from dheeraj.basic")

In [28]:
cursor.fetchall()

[(12345, 'dheeraj', 'kumar', 233435, 'basic'),
 (232323, 'dk', 'kumar', 434443, 'fdsd'),
 (77457, 'dheeru', 'kumar', 744393, 'fdsd')]

In [29]:
cursor.execute("create table dheeraj.glass(col1 INT(10),col2 float(10,5),col3 float(10,5),col4 float(10,5),col5 float(10,5),col6 float(10,5),col7 float(10,5), col8 float(10,5),col9 float(10,5),col10 float(10,5),col11 INT(10))")

In [30]:
 cursor.execute("show tables")

In [31]:
cursor.fetchall()

[('basic',), ('glass',)]